section.hero{
}
section.hero .container{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
section.hero h1{
    font-size: 3rem;
}
section.hero p{
    font-size: 2rem;
}